@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {bg-red-500
    --background: #f0f0f0;
    --foreground: #54595f;
  } */
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#unsuported {
  display: none;
}
@media (max-width: 300px) {
  #unsuported {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
    z-index: 9999;
    text-align: center;
    padding-top: 40vh;
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .searchControl {
    flex-direction: column-reverse;
  }
  .datacontainer{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
  }
}

*{
  user-select: none;
}