@import "tailwindcss";
/* .menucontainer {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;

} */
@keyframes menu {
    from {
        left: 0px;
    }
    to {
        left: -200px;
    }
}
@media (max-width: 700px) {
    .menucontainer {
        animation: menu 0.5s forwards;
        position: absolute;
        z-index: 10;
        left: -200px;
    }
    .listcontainer {
        overflow: scroll;
    }
    .second_field {
        display: none;
    }

}
@media (max-width: 1200px) {
    .second_field {
        display: none;
    }
    .third_field {
        display: none;
    }
}
*{
    scrollbar-width: none;
}